h1
{
	font-size: 11em;
	text-align: center;
	color:#FFFFFF;

	
}
body
{
	background-image: url(platter-2009590_1920.jpg);
	background-attachment: fixed; 
	background-position: top;
   
    

}