h1
{
	font-size: 11em;
	text-align: center;
	

	
}
body
{
	background-image: url(paper-1074131_1920.jpg);
	background-position: top;
   
    

}
.bienvenue
{
	text-align: center;
	font-size: 3em;
}
.citation
{
	text-align: center;
	font-size: 2em;
}
